basePath: /api/v1
definitions:
  api.OrderDetailS:
    properties:
      productComment:
        type: string
      productCount:
        type: integer
      productId:
        type: integer
      productName:
        type: string
      productOriginalPrice:
        type: number
      productPrice:
        type: number
      productPriceCount:
        type: integer
      productType:
        type: integer
      productUnitPrice:
        type: number
      psku:
        type: integer
      sku:
        type: integer
    required:
    - productUnitPrice
    - productPriceCount
    - psku
    - productCount
    - productPrice
    - productType
    - sku
    - productId
    - productName
    - productOriginalPrice
    type: object
host: order.dd01.work:5070
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: 订单模块微服务.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Project Order Backend API
  version: "1.0"
paths:
  /order/create:
    post:
      parameters:
      - description: 买家ID
        in: query
        name: buyer_id
        required: true
        type: integer
      - description: 买家名字
        in: query
        name: buyer_name
        required: true
        type: string
      - description: 卖家ID
        in: query
        name: seller_id
        required: true
        type: integer
      - description: 卖家名字
        in: query
        name: seller_name
        required: true
        type: string
      - description: 买家手机号
        in: query
        name: cellphone_number
        type: string
      - description: 行业类型1餐饮,2零售
        in: query
        name: trade_type
        required: true
        type: integer
      - description: 场景类型1堂食,2外卖
        in: query
        name: scene_type
        required: true
        type: integer
      - description: 取货码
        in: query
        name: take_goods_code
        type: string
      - description: 预约取货时间
        in: query
        name: take_goods_time
        type: integer
      - description: 备货时间
        in: query
        name: prepare_goods_time
        type: integer
      - description: 服务费率eg 0.05
        in: query
        name: service_rate
        type: float
      - description: 订单排单号,可用来取货
        in: query
        name: order_numeral
        type: integer
      - description: 订单来源 1.H5 2.iOS 3.Android
        in: query
        name: order_source
        required: true
        type: integer
      - description: 订单描述
        in: query
        name: order_msg
        type: string
      - description: 订单商品数量
        in: query
        name: order_product_counts
        required: true
        type: integer
      - description: 订单商品总金额(此订单所有商品的金额)
        in: query
        name: order_grand_total
        required: true
        type: decimal
      - description: 订单总付款金额
        in: query
        name: order_amount_total
        required: true
        type: decimal
      - description: 包装费
        in: query
        name: packing_fee
        type: decimal
      - description: 配送费
        in: query
        name: shipping_fee
        type: decimal
      - description: 优惠券优惠
        in: query
        name: coupon_fee
        type: decimal
      - description: 优惠券码
        in: query
        name: coupon_user_code
        type: string
      - description: 券规则码
        in: query
        name: coupon_code
        type: string
      - description: 扩展字段
        in: query
        name: cext
        type: string
      - description: 商品信息
        in: body
        name: order_detail
        required: true
        schema:
          $ref: '#/definitions/api.OrderDetailS'
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: '{"code":200,"data":{"id":3,"created_on":1516937037,"modified_on":0,"tag_id":11,"tag":{"id":11,"created_on":1516851591,"modified_on":0,"name":"312321","created_by":"4555","modified_by":"","state":1},"content":"5555","created_by":"2412","modified_by":"","state":1},"msg":"ok"}'
          schema:
            type: string
      summary: 生成订单
      tags:
      - 订单
swagger: "2.0"
